# --- Python & Environment ---
# Virtual environment
venv/
__pycache__/
*.py[cod]
*$py.class

# --- Security/Secrets ---
# Ignore environment variables 
.env
config.json

# Ignore Arduino/ESP32 secrets
secrets.h

# --- Arduino / ESP32 ---
*.ino.cpp
*.elf
*.hex
*.bin

# --- IDEs and Editors ---
# Ignores VS Code workspace settings 
.vscode/

# --- OS junk ---
.DS_Store
Thumbs.db

# Certs
certs/ 